@model GlacialArchiving.DataAccess.Models.CustomerCoverage

<fieldset>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.UploadedItem.UniqueIdentifier, label: "Uploaded Item")                    
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.Value)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.IsDeleted)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.CreatedOn)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.CreatedBy.NameFull, label: "Created By")                    
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.ModifiedOn)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.ModifiedBy.NameFull, label: "Modified By")                    
        </section>
    </div>
</fieldset>
