@model GlacialArchiving.DataAccess.Models.HistoryLog

<fieldset>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.Model)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.ModelId)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.PropertyName)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.OldValue)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.OldModelId)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.NewValue)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.NewModelId)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.CreatedOn)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.CreatedBy.NameFull, label: "Created By")                    
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.ModifiedOn)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.ModifiedBy.NameFull, label: "Modified By")                    
        </section>
    </div>
</fieldset>
