@model GlacialArchiving.DataAccess.Models.User

<fieldset>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.NameFirst)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.NameLast)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.EmailAddress)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.LastLoginDate)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.LastLockoutDate)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.LastPasswordChangedDate)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.IsVerified)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.IsLockedOut)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.IsActive)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.Address)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.City)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.State)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.Zipcode)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.CreatedOn)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.CreatedBy.NameFull, label: "Created By")                    
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.ModifiedOn)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.ModifiedBy.NameFull, label: "Modified By")                    
        </section>
    </div>
</fieldset>
