@model GlacialArchiving.DataAccess.Models.fred

<fieldset>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.foo)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.bar)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.CreatedOn)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.CreatedBy.NameFull, label: "Created By")                    
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.ModifiedOn)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.ModifiedBy.NameFull, label: "Modified By")                    
        </section>
    </div>
</fieldset>
